{% if link is defined %}
    <a href="{% if link is same as(true) %}{{ src }}{% else %}{{ link }}{% endif %}" rel="nofollow" {% if linkClass is defined %}class="{{ linkClass }}"{% endif %}>
{% endif %}
        <img src="{{ src }}" alt="{{ title }}" class="h-5 {% if class is defined %}{{ class }}{% endif%}" />
{% if link is defined and link %}
    </a>
{% endif %}
