{% set icons = {
    'info': '<g fill="currentColor"><path d="M8 1C4.1 1 1 4.1 1 8s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm1 10a1 1 0 1 1-2 0V8a1 1 0 1 1 2 0v3zM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></g>',
    'success': '<g fill="currentColor"><path d="M8 1C4.1 1 1 4.1 1 8s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm4.1 4.7-4.9 4.9-.4.4c-.1.1-.3.1-.4 0l-.4-.3-2.1-2.1c-.1-.1-.1-.3 0-.4l.3-.4c.1-.1.3-.1.4 0l2 2L11.3 5c.1-.1.3-.1.4 0l.4.3c.1.1.1.3 0 .4z"/></g>',
    'error': '<g fill="currentColor"><path d="M8 1C4.1 1 1 4.1 1 8s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7zm4 7.5c0 .3-.2.5-.5.5h-7c-.3 0-.5-.2-.5-.5v-1c0-.3.2-.5.5-.5h7c.3 0 .5.2.5.5v1z"/></g>',
    'warning': '<g fill="currentColor"><path d="M15.286 12.03 9.749 2.04C9.37 1.352 8.684 1.009 8 1.009s-1.369.343-1.75 1.03L.715 12.03C-.024 13.364.94 15 2.464 15h11.072c1.524 0 2.488-1.636 1.75-2.97zM7.552 5h.896a.5.5 0 0 1 .497.55L8.5 10h-1l-.445-4.45A.5.5 0 0 1 7.552 5zM8 13a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></g>',
} %}
{% set backgroundColors = {
    'info': 'bg-blue-50',
    'success': 'bg-green-50',
    'error': 'bg-red-50',
    'warning': 'bg-orange-50',
} %}
{% set colors = {
    'info': 'text-blue-500',
    'success': 'text-green-500',
    'error': 'text-red-500',
    'warning': 'text-orange-500',
} %}

<div class="rounded-md shadow-sm {{ backgroundColors[severity] }} p-4 mt-3 md:mt-4">
    <div class="flex items-start space-x-2.5 {{ colors[severity] }}">
        <svg class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">{{ icons[severity] | raw }}</svg>
        <div>
            <div class="mt-0.5 text-sm font-semibold">
                {{ header }}
            </div>
            <div class="mt-1 text-sm font-medium text-gray-600">
                {{ body | raw }}
            </div>
        </div>
    </div>
</div>
