<div class="flex items-center justify-space-between">
    <h2 class="font-bold text-xl flex-grow">&#x1F680;&nbsp;Usage</h2>

    {% include 'partials/_badge-provider-toggle.html.twig' with {'section': 'usage'} %}
</div>
<hr class="my-2 border-gray-200">

<p class="text-gray mt-3 md:mt-4">
    This API provides JSON endpoints for
    {% for provider in providers %}
        <a href="{{ provider.providerUrl }}" class="font-bold hover:underline">{{ provider.name }}</a>{% if loop.revindex0 == 1 %} and {% else %},{% endif %}
    {% endfor %}
    allowing badges to be rendered. The rendering itself takes place at the corresponding
    services and is not part of this API.
</p>

{# Badgen #}
{% embed 'partials/_provider-usage-list.html.twig' with {'provider': 'badgen'} %}
    {# Step 1 #}
    {% block item1_header %}
        Start with the base URL
    {% endblock %}
    {% block item1_description %}
        <code class="inline border-b border-dashed border-gray-500 pb-0.5 text-sm">
            {{ provider.urlPattern | replace({
                '{host}': '<span class="bg-red-500 text-white px-1.5 rounded font-mono font-bold mx-0.5 break-normal">host</span>',
                '{path}': '<span class="bg-green-500 text-white px-1.5 rounded font-mono font-bold mx-0.5 break-normal">endpoint</span>',
            }) | raw }}
        </code>
    {% endblock %}

    {# Step 2 #}
    {% block item2_header %}
        Replace <span class="bg-red-500 text-white px-1.5 rounded font-mono mx-0.5 break-normal">host</span>
        with the hostname of this API
    {% endblock %}
    {% block item2_description %}
        <code class="inline border-b border-dashed border-gray-500 pb-0.5 text-sm">
            {{ provider.urlPattern | replace({
                '{host}': app.request.httpHost,
                '{path}': '<span class="bg-green-500 text-white px-1.5 rounded font-mono font-bold mx-0.5 break-normal">endpoint</span>',
            }) | raw }}
        </code>
    {% endblock %}

    {# Step 3 #}
    {% block item3_header %}
        Select a specific <span class="bg-green-500 text-white px-1.5 rounded font-mono mx-0.5 break-normal">endpoint</span>
    {% endblock %}
    {% block item3_description %}
        <code class="inline border-b border-dashed border-gray-500 pb-0.5 text-sm">
            {{ provider.generateUriForRoute(routes | keys | first, {'extension': randomExtensionKey}) }}
        </code>
        <br>
        <div class="inline-flex mt-4 text-xs text-gray-400" role="alert">
            <svg class="inline flex-shrink-0 mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <p>You can find all available endpoints below.</p>
        </div>
    {% endblock %}
{% endembed %}

{# Shields #}
{% embed 'partials/_provider-usage-list.html.twig' with {'provider': 'shields'} %}
    {# Step 1 #}
    {% block item1_header %}
        Start with the base URL
    {% endblock %}
    {% block item1_description %}
        <code class="inline border-b border-dashed border-gray-500 pb-0.5 text-sm">
            {{ provider.urlPattern | replace({
                '{url}': '<span class="bg-red-500 text-white px-1.5 rounded font-mono font-bold mx-0.5 break-normal">url</span>',
            }) | raw }}
        </code>
    {% endblock %}

    {# Step 2 #}
    {% block item2_header %}
        Replace <span class="bg-red-500 text-white px-1.5 rounded font-mono mx-0.5 break-normal">url</span>
        with the URL of this API
    {% endblock %}
    {% block item2_description %}
        <code class="inline border-b border-dashed border-gray-500 pb-0.5 text-sm">
            {{ provider.urlPattern | replace({
                '{url}': app.request.schemeAndHttpHost ~ '/<span class="bg-green-500 text-white px-1.5 rounded font-mono font-bold mx-0.5 break-normal">endpoint</span>',
            }) | raw }}
        </code>
    {% endblock %}

    {# Step 3 #}
    {% block item3_header %}
        Select a specific <span class="bg-green-500 text-white px-1.5 rounded font-mono mx-0.5 break-normal">endpoint</span>
    {% endblock %}
    {% block item3_description %}
        <code class="inline border-b border-dashed border-gray-500 pb-0.5 text-sm">
            {{ provider.generateUriForRoute(routes | keys | first, {'extension': randomExtensionKey}) }}
        </code>
        <br>
        <div class="inline-flex mt-4 text-xs text-gray-400" role="alert">
            <svg class="inline flex-shrink-0 mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <p>You can find all available endpoints below.</p>
        </div>
    {% endblock %}
{% endembed %}
