<details class="endpoint bg-gray-50 p-4 rounded-md border border-transparent open:drop-shadow open:border-gray-200 {% if containerClass is defined %}{{ containerClass }}{% else %}mt-2{% endif %}">
    <summary>
        <h3 class="inline text-sm cursor-pointer">
            <span class="inline-block bg-green-600 text-white px-1.5 pb-0.25 rounded font-mono mr-1">GET</span>
            <code class="inline-block border-b border-dashed pb-0.5 font-bold">{{ routes.get(routeName).path }}</code>
        </h3>
        <span class="block text-gray mt-4">
            {% block description %}{% endblock %}
        </span>
    </summary>
    <p class="text-xs font-bold py-1 mt-4 uppercase text-gray-600">
        Example
    </p>
    {% set badgeLabel %}
        {% block badgeLabel %}TYPO3 badge{% endblock %}
    {% endset %}
    {% embed '_code-block.html.twig' with {'showCopyButton': true} %}
        {% block content %}
            <span class="text-red-700">![{{ badgeLabel | trim() }}]</span><span class="text-yellow-700">(</span><span class="text-green-700">https://shields.io/endpoint?url=<strong>{{ url(routeName, routeParameters) }}</strong></span><span class="text-yellow-700">)</span>
        {% endblock %}
    {% endembed %}
    <a href="https://shields.io/endpoint?url={{ url(routeName, routeParameters) }}">
        <img src="https://shields.io/endpoint?url={{ url(routeName, routeParameters) }}" alt="Rendered badge" class="mt-4" />
    </a>
</details>
